<div class="bg-[#da0025] h-full flex items-stretch justify-between">
  <div class="p-10 lg:p-16 xl:p-20 flex flex-col justify-between lg:w-3/5">
    <div class="flex items-center gap-x-2 2xl:gap-x-4">
      <p
        class="
          bg-white
          border border-white
          bg-transparent
          text-white
          py-2
          px-5
          rounded-xl
          text-2xl
          font-bold
          lg:text-4xl
          xl:text-5xl
          2xl:rounded-2xl 2xl:border-4 2xl:text-6xl 2xl:rounded-3xl
        "
      >
        NEW
      </p>
      <p
        class="
          text-[#da0025]
          bg-white
          py-2
          px-3
          rounded-xl
          text-2xl
          font-bold
          branch-drujba-title
          lg:whitespace-nowrap lg:text-4xl
          xl:text-5xl
          2xl:border-white
          2xl:border-4
          2xl:rounded-2xl
          2xl:text-6xl
          2xl:rounded-3xl
        "
      >
        Филиал Дружба
      </p>
    </div>

    <div class="lg:flex lg:flex-col lg:gap-y-3 xl:gap-y-4">
      <h2
        class="
          font-bold
          text-white text-left
          branch-drujba-info
          lg:text-3xl
          xl:text-4xl
          2xl:text-5xl
          3xl:text-7xl
        "
      >
        Теперь VITROS ещё ближе!
      </h2>
      <p
        class="
          text-white text-left
          mb-2
          branch-drujba-info
          lg:text-2xl
          xl:text-3xl
          2xl:text-4xl
        "
      >
        Адрес: Шайхонтохурский р-н, ул.Бунёдкор 8А
      </p>

      <h2
        class="
          font-bold
          text-white text-left
          branch-drujba-info
          lg:text-3xl lg:whitespace-nowrap
          xl:text-4xl
          2xl:text-5xl
          3xl:text-7xl
        "
      >
        Ориентир: метро Миллий Бог, <br />
        напротив Олий Мажлис
      </h2>
    </div>
    <button
      class="
        text-2xl
        bg-white
        rounded-xl
        w-fit
        text-[#da0025]
        py-1
        px-5
        branch-drujba-more
        lg:text-4xl lg:py-2
        xl:text-5xl xl:font-bold
        2xl:text-6xl 2xl:py-3 2xl:px-10 2xl:rounded-3xl
      "
    >
      подробнее
    </button>
  </div>
  <img
    class="h-full max-sm:hidden max-md:hidden"
    src="https://imgtr.ee/images/2023/10/07/ae78fb88fceda035984acfd62aa5efdf.png"
  />
</div>
