<div class="bg-red-500 h-full border flex items-stretch justify-between">
  <div class="p-10 flex flex-col justify-between">
    <div class="flex items-center gap-x-2">
      <p
        class="
          bg-white
          border border-white
          bg-transparent
          text-white
          py-2
          px-5
          rounded-xl
          text-2xl
          font-bold
        "
      >
        NEW
      </p>
      <p class="text-red-500 bg-white py-2 px-3 rounded-xl text-2xl font-bold">
        Филиал Дружба
      </p>
    </div>

    <div>
      <h2 class="font-bold text-white text-left">Теперь VITROS ещё ближе!</h2>
      <p class="text-white text-left mb-2">
        Адрес: Шайхонтохурский р-н, ул.Бунёдкор 8А
      </p>

      <h2 class="font-bold text-white text-left">
        Ориентир: метро Миллий Бог, <br />
        напротив Олий Мажлис
      </h2>
    </div>
    <button class="text-2xl bg-white rounded-xl w-fit text-red-500 py-1 px-5">
      подробнее
    </button>
  </div>
  <img
    class="h-full"
    src="https://imgtr.ee/images/2023/10/07/ae78fb88fceda035984acfd62aa5efdf.png"
    alt="sayram-branch"
  />
</div>
