<div
  class="
    bg-white
    h-full
    border
    flex
    items-stretch
    justify-between
    lg:justify-center
  "
>
  <div class="p-6 px-10 flex flex-col">
    <div
      class="
        flex
        items-start
        flex-col
        gap-y-2
        mb-6
        max-sm:flex-row max-sm:gap-x-3 max-sm:justify-center
      "
    >
      <p
        class="
          bg-[#da0025]
          text-white
          py-2
          px-5
          rounded-xl
          text-2xl
          font-bold
          personal-ordinary
        "
      >
        Обученный
      </p>
      <p
        class="
          text-[#da0025]
          bg-white
          border border-[#da0025]
          py-2
          px-3
          rounded-xl
          text-2xl
          font-bold
          personal-med
        "
      >
        мед.персонал
      </p>
    </div>

    <div class="self-center">
      <p
        class="
          text-[#da0025] text-left
          mb-2
          w-4/5
          personal-info
          max-sm:text-xl max-sm:text-center max-sm:mx-auto
          lg:text-2xl lg:w-full
        "
      >
        Мы обучаем наш мед.персонал, чтобы оставить Вам только хорошие
        впечатления и оставить Вас с хорошим настроением!
      </p>
    </div>
  </div>
  <img
    class="h-full w-1/2 object-cover max-sm:hidden"
    src="https://imgtr.ee/images/2023/10/07/84c8ade7f65fc3fefa0f9d6d11f21934.webp"
  />
</div>
