<div class="bg-white h-full border flex items-stretch justify-between">
  <div class="p-6 px-10 flex flex-col">
    <div class="flex items-start flex-col gap-y-2 mb-6">
      <p class="bg-red-500 text-white py-2 px-5 rounded-xl text-2xl font-bold personal-ordinary">
        Обученный
      </p>
      <p
        class="
          text-red-500
          bg-white
          border border-red-500
          py-2
          px-3
          rounded-xl
          text-2xl
          font-bold
          personal-med
        "
      >
        мед.персонал
      </p>
    </div>

    <div>
      <p class="text-red-500 text-left mb-2 w-4/5 personal-info">
        Мы обучаем наш мед.персонал, чтобы оставить Вам только хорошие
        впечатления и оставить Вас с хорошим настроением!
      </p>
    </div>
  </div>
  <img
    class="h-full w-1/2 object-cover"
    src="https://imgtr.ee/images/2023/10/07/84c8ade7f65fc3fefa0f9d6d11f21934.webp"
    alt="sayram-branch"
  />
</div>
