<div class="flex h-full pb-5 items-end pt-10 pl-8 gap-x-6 pr-10">
  <div class="flex flex-col">
    <div class="flex items-center gap-x-2 mb-5">
      <p class="bg-red-500 text-white py-2 px-5 rounded-xl text-2xl">
        Американские
      </p>
      <p
        class="text-red-500 py-2 px-1 rounded-xl border border-red-500 text-2xl"
      >
        анализаторы
      </p>
    </div>
    <div class="flex items-start gap-x-2">
      <img
        src="https://imgtr.ee/images/2023/10/06/0a27a7de3396c261a32c271c512a64ca.png"
        alt="analizator"
        width="200px"
        height="100px"
      />
      <p class="text-red-500 w-1/2 text-left">
        В нашей лаборатории стоит современное, высокоточное оборудование <br />
        от <span class="font-bold">Ortho-Clinical Diagnostics</span> -лидера в
        сфере технологий лабораторной диагностики
      </p>
    </div>
  </div>

  <img
    src="https://imgtr.ee/images/2023/10/06/7de79b3f3dc64560a879f1445963d224.png"
    alt="logos"
    width="200px"
    height="100px"
  />
</div>
