<div class="bg-red-500 h-full pt-11 px-10">
  <div class="flex flex-col items-start justify-between">
    <div class="flex items-center gap-x-2 mb-5">
      <p
        class="
          bg-white
          text-red-500
          py-2
          px-5
          rounded-xl
          text-2xl
          font-bold
          delivery-to-home
        "
      >
        Выезд на дом
      </p>
      <p
        class="
          text-red-500
          bg-white
          py-2
          px-3
          rounded-xl
          text-2xl
          font-bold
          delivery-office
        "
      >
        офис
      </p>
    </div>
    <div class="flex h-full items-start gap-x-10 w-full">
      <div class="flex flex-col items-start h-full justify-between">
        <p class="text-white text-left mb-5 delivery-info">
          Вы можете вызвать выездную бригаду, которая проведёт все нужные
          процедуры по взятию биоматериалов.
        </p>
        <button
          class="
            text-2xl
            rounded-xl
            border border-white
            font-bold
            rounded-xl
            text-white
            py-1
            px-5
            whitespace-nowrap
            delivery-order
          "
        >
          <p class="delivery-order-title">Оставить заявку</p>
        </button>
      </div>
      <img
        width="450px"
        height="200px"
        class="delivery-car"
        src="https://imgtr.ee/images/2023/10/06/d08432e8d1ec771f05b5162357538b55.webp"
      />
    </div>
  </div>
</div>
