<div class="bg-[#da0025] h-full pt-11 pb-16 px-10 lg:p-16 xl:p-20">
  <div class="flex flex-col items-start lg:justify-center h-full">
    <div class="flex items-center gap-x-2 mb-5">
      <p
        class="
          bg-white
          text-[#da0025]
          py-2
          px-5
          rounded-xl
          text-2xl
          font-bold
          delivery-to-home
          lg:text-5xl
          xl:text-6xl
        "
      >
        Выезд на дом
      </p>
      <p
        class="
          text-[#da0025]
          bg-white
          py-2
          px-3
          rounded-xl
          text-2xl
          font-bold
          delivery-office
          lg:text-5xl
          xl:text-6xl
        "
      >
        офис
      </p>
    </div>
    <div class="flex h-full items-center gap-x-10 w-full">
      <div class="flex flex-col items-start h-full justify-around">
        <p
          class="
            text-white text-left
            mb-5
            delivery-info
            lg:text-3xl
            xl:text-4xl
            2xl:text-5xl
            max-md:text-2xl
            max-sm:text-xl
          "
        >
          Вы можете вызвать выездную бригаду, которая проведёт все нужные
          процедуры по взятию биоматериалов.
        </p>
        <button
          class="
            text-2xl
            rounded-xl
            border border-white
            font-bold
            rounded-xl
            text-white
            py-1
            px-5
            whitespace-nowrap
            delivery-order
            lg:text-3xl
            lg:py-2
          "
        >
          <p class="delivery-order-title lg:text-3xl xl:text-4xl 2xl:text-5xl 3xl:text-6xl">Оставить заявку</p>
        </button>
      </div>
      <img
        class="delivery-car max-md:hidden h-[200px] lg:h-[250px] xl:h-[350px] 2xl:h-[400px] 3xl:h-[500px]"
        src="https://imgtr.ee/images/2023/10/06/d08432e8d1ec771f05b5162357538b55.webp"
      />
    </div>
  </div>
</div>
