<div
  class="
    h-full
    bg-[#da0025]
    py-10
    px-10
    flex
    justify-between
    xl:p-20
    lg:items-center
  "
>
  <div
    class="
      flex flex-col
      max-lg:justify-around
      lg:justify-around
      h-full
      max-md:justify-between
      max-sm:justify-evenly
    "
  >
    <div class="flex items-center gap-x-2 lg:gap-x-4">
      <p
        class="
          bg-white
          text-[#da0025]
          py-2
          px-5
          rounded-xl
          text-2xl
          font-bold
          control-quality
          sm:text-xl
          max-sm:whitespace-nowrap max-sm:text-lg
          md:text-2xl
          lg:py-3 lg:whitespace-nowrap lg:text-5xl
          xl:text-6xl
          lg:py-4
          xl:py-5 xl:px-10
          lg:rounded-3xl
        "
      >
        Контроль качества
      </p>
      <p
        class="
          text-[#da0025]
          bg-white
          py-2
          px-3
          rounded-xl
          text-2xl
          font-bold
          control-riqas
          lg:text-5xl lg:py-3
          sm:text-xl
          max-sm:text-lg
          md:text-2xl
          xl:text-6xl
          lg:py-4
          xl:py-5 xl:px-10
          lg:rounded-3xl
        "
      >
        RIQAS
      </p>
    </div>
    <p
      class="
        text-left text-white
        w-4/5
        control-info
        lg:text-3xl
        2xl:text-4xl
        3xl:text-5xl
        max-md:w-full
        sm:text-sm
        max-sm:text-xs
        md:text-base
      "
    >
      Лаборатория VITROS проходит регулярный контроль качества Международной
      референс-лабораторией RANDOX (Великобритания) по программе "RIQAS", что
      позволяет лаборатории минимизировать ошибки и держать качество
      исследований на стабильно высоком уровне.
    </p>
  </div>
  <img
    class="
      bg-transparent
      control-image
      max-sm:hidden
      lg:h-[400px]
      xl:h-[450px]
      2xl:h-[500px]
      3xl:h-full
    "
    src="https://imgtr.ee/images/2023/10/08/d9dd33d70ab5823a89c5730a2d57b8e5.jpeg"
  />
</div>
