/* Add application styles & imports to this file! */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~swiper/swiper-bundle';

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  background-color: black;
}

body {
  display: flex;
  align-items: center;
}

.swiper-container {
  width: 100vw;
  height: 300px;
  margin: 50px auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.swiper-slide {
  background: white;
  color: #000;
  text-align: center;
  height: 100%;
}

@media (min-width: 0px) and (max-width: 576px) {
  /*Tablets [601px -> 1200px]*/
  .swiper-container {
    height: 300px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  /*Big smartphones [426px -> 600px]*/
  .swiper-container {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /*Small smartphones [325px -> 425px]*/
  .swiper-container {
    height: 320px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .swiper-container {
    height: 350px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .swiper-container {
    height: 600px;
  }
}
@media (min-width: 1366px) and (max-width: 1992px) {
  /*Small smartphones [325px -> 425px]*/
  .swiper-container {
    height: 750px;
  }
}
