<div class="h-full flex items-stretch">
  <div class="3/5 p-10 flex flex-col justify-between">
    <h2
      class="
        text-red-500 text-3xl
        whitespace-nowrap
        font-bold
        text-left
        branches-title
      "
    >
      12 филиалов по Ташкенту
    </h2>
    <p class="text-red-500 text-left w-4/5 branches-info">
      Вы можете узнать ближайший к вам филиал в Google картах, Яндекс картах, а
      также 2ГИС.
    </p>
    <button
      class="
        text-2xl
        bg-red-500
        rounded-xl
        w-fit
        text-white
        py-1
        px-5
        branches-location
      "
    >
      Локации
    </button>
  </div>
  <img
    class="w-2/5"
    src="https://imgtr.ee/images/2023/10/06/e8f07f91dd9c3b3d2b478764fe0df31f.webp"
    alt="tashkent map"
  />
</div>
